@font-face{
	font-family: 'Heading';
	src: url("/font/1.tff") formate("truetype");
}
h1{
	font-family: 'Heading',cursive;
}



.c{
	widows:200px;
	height:100px;
	background-color:lightblue ;
	margin: 0px 0px 0px 0px;

}
.i{
	margin: 10px 0px 0px 5px;
	float: left;
}
.g{
	margin: 25px 0px 0px 5px;
	float: left;
}
span{
	float: right;
	margin: 15px 30px 0px 0px;
}
.image{
	padding: 5px;
	float: left;
	margin: 10px 0px 0px 0px;
	background-color: darkred;
}
.content{
	padding:0px;
	margin: 0px 0px 0px 0px;
}
.i2{
	padding: 5px;
	float: right;
	background-color: black;
}
.i3{
	padding: 5px;
	float: left;
}
.i4{
	padding:5px;
	float: right;
}
.i5{
	padding: 5px;
	float: left;
}
.end{
	width:200px;
	height:100px;
	background-color: turquoise;
	margin: 0px 0px 0px 0px;
}
.end1{
	float: left;
	padding: 30px;
	margin: 0px 0px 0px 500px;
}

